.gdbinit
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
config/compile
config/test-driver
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
config/ylwrap
configure
ext/lua/syck.o
ext/lua/syck.so
ext/ruby/Gemfile.lock
ext/ruby/ext
ext/ruby/pkg
ext/yamlbyte/.libs/
ext/yamlbyte/ybext
ext/yamlbyte/ybext.lo
ext/yamlbyte/ybext.o
ext/yamlbyte/ybext.trs
lib/.deps/
lib/.libs/
lib/Makefile
lib/Makefile.in
lib/*.o
lib/gram.output
lib/libsyck.a
lib/libsyck.la
lib/libsyck_nowarn.la
lib/*.lo
libtool
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
stamp-h1
tests/.deps/
tests/.libs/
tests/*.o
tests/Makefile
tests/Makefile.in
tests/test-suite.log
tests/test-basic
tests/test-basic.*
tests/test-emit
tests/test-emit.*
tests/test-parse
tests/test-parse.*
tests/test-yts
tests/test-yts.*
tests/yts-stream
tests/test-yts-full
tests/test-yts-full.*
tests/yaml-test-suite/
TAGS
/NEWS
/INSTALL
/syck-*
