name: Github CI
on:
  push:
    branches:
      - master
      - smoke/*
      - gh/*
    paths-ignore:
      - README
      - README.BYTECODE
      - README.EXT
      - CHANGELOG
      - COPYING
      - TODO
      - RELEASE
      - ext/ruby/README.rdoc
      - ext/perl/README.md
      - ext/cocoa/README
      - ext/io/README
  pull_request:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

#strategy:
#  matrix:
#    os: [ubuntu-14.04, ubuntu-18.04, ubuntu-20.04, ubuntu-latest]

jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: true
      matrix:
        CONFIGURE_ARGS:
          -
          - CFLAGS="-O2 -fno-omit-frame-pointer -fsanitize=address"
          - CC="clang"
          - --with-re2c
          - --host=i686-linux-gnu
    steps:
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 1
        submodules: recursive
    - if: contains(matrix.CONFIGURE_ARGS, 'i686-linux-gnu')
      name: setup gcc-multilib
      run: |
        sudo apt-get -y update
        sudo apt-get -y install gcc-multilib
    #- name: setup-python-libxml2
    - if: contains(matrix.CONFIGURE_ARGS, 'with-re2c')
      name: setup flex/bison/re2c
      run: |
        sudo apt-get -y update
        sudo apt-get -y install flex bison re2c
        rm lib/token.c lib/bytecode.c lib/implicit.c
    - uses: hendrikmuhs/ccache-action@5ebbd400eff9e74630f759d94ddd7b6c26299639 # v1.2.20
      with:
        create-symlink: true
        key: ${{ github.job }}-${{ matrix.CONFIGURE_ARGS }}
    - run: ./bootstrap
    - run: ./configure ${{ matrix.CONFIGURE_ARGS }}
    - run: make -j
    - if: ${{ startsWith(github.ref, 'refs/heads/') }}
      run: make -j check || (cat tests/test-suite.log; false)
    #- if: ${{ matrix.CONFIGURE_ARGS == '' }}
    #  run: cd tests; ./test-yts-full || cat test-suite.log
    - if: ${{ matrix.CONFIGURE_ARGS == '' }}
      run: make distcheck
  macOS:
    runs-on: macos-latest
    timeout-minutes: 15
    steps:
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 1
        submodules: recursive
    - uses: hendrikmuhs/ccache-action@5ebbd400eff9e74630f759d94ddd7b6c26299639 # v1.2.20
      with:
        create-symlink: true
        key: ${{ github.job }}-${{ matrix.os }}
    - name: prep
      run: |
        brew install automake autoconf libtool bison
        # their system bison was too old for %destructor, leaking
        echo "$(brew --prefix)/opt/bison/bin" >> $GITHUB_PATH
    - run: autoreconf -fi
    - run: ./configure || (cat config.log;false)
    - run: make -j
    - run: make -j check || (cat tests/test-suite.log; false)
  windows:
    runs-on: windows-latest
    timeout-minutes: 15
    steps:
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 1
        submodules: recursive
    - uses: hendrikmuhs/ccache-action@5ebbd400eff9e74630f759d94ddd7b6c26299639 # v1.2.20
      with:
        create-symlink: false
        key: ${{ github.job }}-${{ matrix.os }}
    - uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1.13.0
      with:
        arch: x86_amd64
    - name: nmake
      shell: cmd
      run: |
        nmake -F Makefile.w32 BISON=rem
